{% extends "base.html" %}

{% block title %}İlanlar{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <a href="{% url 'adv_create' %}" class="btn btn-success btn-block">İlan Ekle</a>
        <br />
        <div class="list-group">
          {% for advert in adverts %}
          <a href="{% url 'adv_show' advert.id %}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ advert.profile.petName }} Arkadaş Arıyor!</h4>
            <p class="list-group-item-text">{{ advert.message }}</p>
          </a>
          {% endfor %}
        </div>
    </div>
</div>
{% endblock %}