{% extends "base.html" %}

{% block title %}Giriş Yap{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <form method="POST">
            {% csrf_token %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Giriş Yap</h3>
                </div>
                {% load widget_tweaks %}
                <div class="panel-body">
                    <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                    </div>
                        <div class="form-group {% if form.username.errors %} has-error {% endif %}">
                            <label for="{{ form.username.id_for_label }}" class="control-label">Kullanıcı Adı</label>
                            {{ form.username|add_class:"form-control" }}
                            <span class="help-block">{{ form.username.errors }}</span>
                        </div>
                        <div class="form-group {% if form.password.errors %} has-error {% endif %}">
                            <label for="{{ form.password.id_for_label }}" class="control-label">Şifre</label>
                            {{ form.password|add_class:"form-control" }}
                            <span class="help-block">{{ form.password.errors }}</span>
                        </div>
                    {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    {% else %}
                    <input type="hidden" name="next" value="/" />
                    {% endif %}
                </div>
                <div class="panel-footer">
                    <input type="submit" class="btn btn-primary btn-block" value="Giriş Yap" />
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}