{% extends "base.html" %}

{% block title %}İlanlar{% endblock %}

{% block content %}
{% load gravatar %}
<div class="row">
    <div class="col-md-3 advert-sidebar">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Evcil Hayvan</h3>
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <h3>{{ advert.profile.petName }}</h3>
                    {% if advert.profile.petImage %}
                    <img src="{{ advert.profile.petImage.url }}" class="img-circle img-responsive img-center" alt="{{ advert.profile.petName }}" />
                    {% endif %}
                </div>
                <br />
                    <ul class="list-group">
                      <li class="list-group-item">Cinsiyet: {% if advert.profile.petSex %} Dişi {% else %} Erkek {% endif %}</li>
                      <li class="list-group-item">Tür: {{ advert.profile.petType.name }}</li>
                      <li class="list-group-item">Yaş: {{ advert.profile.petAge }}</li>
                      <li class="list-group-item">İlişki Durumu: {{ advert.profile.petRelation.name}}</li>
                      {% if advert.profile.petSick %}
                      <li class="list-group-item list-group-item-danger">Hastalık Durumu: Hasta</li>
                      {% else %}
                      <li class="list-group-item list-group-item-success">Hastalık Durumu: Sağlıklı</li>
                      {% endif %}
                    </ul>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Sahibi</h3>
            </div>
            <div class="panel-body">
                <h3 class="text-center">{{ advert.profile.user.username }}</h3>
                <div class="text-center">
                    <img src="{% gravatar_url user.email 128 %}" class="img-circle img-responsive img-center" alt="{{ advert.profile.user.username }}" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="well">{{ advert.message }}</div>
        {% if user.is_authenticated %}
        <div class="well">
            <h4>Mesaj Yaz</h4>
            <form>
                <div class="form-group">
                    <textarea class="form-control" id="message" name="message"></textarea>
                </div>
                <div class="text-right">
                    <input class="btn btn-primary" value="Yayınla">
                </div>
            </form>
        </div>
        {% else %}
        <div class="alert alert-danger">Mesaj yazmak için <a href="{% url 'adv_login' %}">giriş yapmalı</a> veya <a href="{% url 'adv_register' %}">kayıt</a> olmalısınız.</div>
        {% endif %}
    </div>
</div>
{% endblock %}